h1{
    color: white;
    text-align : center ;
    background-color:black
}

h1#title{
    color:fuchsia;
    text-align: center ;
    background-color: chartreuse
    
}

h2#neko{
    color: lime;
    background-color: deepskyblue;
}

h2{
    background-color: darkorange;
    text-align: center ;
    color: yellow;
}
body{
    background-image: url("../images/haikei.jpeg");
}
