h1{
    color: yellow;
    text-align : center ;
    background-color:tomato
}

h1#title{
    color:fuchsia;
    text-align: center ;
    background-color: chartreuse
    
}
h2#title{
    color: khaki;
}

h2#neko{
    color: lime;
    background-color: deepskyblue;
}

h2{
    background-color: palegreen;
    text-align: center ;
    color: darkblue;
}
h2.top{
    color: aqua
}
p{
    display: inline-block;
    font-size: 20px;
    color:aqua;
    
}
p.movie{
    color: chartreuse;
    font-size: 20px;
    
}
p.top{
    color: darkorange;
    margin-left: 600px;
}
body{
    background-image: url("../images/haikei3.jpeg");
}

